@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple</h1>
    <img src="~/img/Layton Temple.jpg" width="500" />
    <br /><br />
    <h3>Tour the Layton Utah Temple!</h3>
    <p>
        The tour consists of stepping inside our on-site trailer that will lead you through a virtual tour showcasing the beauty and magesty of this sacred building! Before you schedule a time, we ask that you remember these important expectations:
        <br />
        <b>Masks are required</b>
        <br />
        <b>Park on Rosewood (west side of the temple) and meet at the Visitor's Center Trailer</b>
        <br />
        <b>Dress casually, except on Sundays</b>
    </p>
    <p>
        Make your appointment today by clicking on the
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp"><img src="~/img/writing.png" width="20" /></a> icon!
    </p>
</div>
